**/.cache/**
**/build/**
**/dist/**
**/admin/**
**/build-client/**
**/.vite/**
**/node_modules/**
**/vendor/openid/**
**/ts-shim.d.ts
**/client/api/**

*.scss
*.svg
*.html
*.ico
*.webmanifest

**/assets/**
**/extensions/**
